.christmas-tree {
  position: relative;
  width: 250px;
  height: 350px;
  z-index: 5;
}

.tree-layer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  filter: drop-shadow(0 5px 15px rgba(0, 100, 0, 0.3));
}

.tree-layer-1 {
  top: 0;
  border-left-width: 40px;
  border-right-width: 40px;
  border-bottom: 70px solid #1e5128;
}

.tree-layer-2 {
  top: 55px;
  border-left-width: 60px;
  border-right-width: 60px;
  border-bottom: 80px solid #2d6a3e;
}

.tree-layer-3 {
  top: 120px;
  border-left-width: 80px;
  border-right-width: 80px;
  border-bottom: 90px solid #3a7f4f;
}

.tree-layer-4 {
  top: 195px;
  border-left-width: 100px;
  border-right-width: 100px;
  border-bottom: 100px solid #4a9960;
}

.tree-trunk {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 60px;
  background: linear-gradient(to bottom, #5d4037, #3e2723);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.tree-star {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  filter: drop-shadow(0 0 10px #ffd700);
  z-index: 10;
}

.tree-light {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 10px currentColor;
  z-index: 2;
}

.ornament {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.3),
              0 0 15px rgba(255, 255, 255, 0.5);
  z-index: 3;
}

.ornament-1 {
  top: 80px;
  left: 30%;
}

.ornament-2 {
  top: 120px;
  right: 25%;
}

.ornament-3 {
  top: 170px;
  left: 20%;
}

.ornament-4 {
  top: 200px;
  right: 20%;
}

.ornament-5 {
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .christmas-tree {
    width: 200px;
    height: 280px;
  }

  .tree-layer-1 {
    border-left-width: 30px;
    border-right-width: 30px;
    border-bottom: 55px solid #1e5128;
  }

  .tree-layer-2 {
    top: 45px;
    border-left-width: 48px;
    border-right-width: 48px;
    border-bottom: 65px solid #2d6a3e;
  }

  .tree-layer-3 {
    top: 95px;
    border-left-width: 64px;
    border-right-width: 64px;
    border-bottom: 72px solid #3a7f4f;
  }

  .tree-layer-4 {
    top: 155px;
    border-left-width: 80px;
    border-right-width: 80px;
    border-bottom: 80px solid #4a9960;
  }

  .tree-trunk {
    width: 32px;
    height: 48px;
  }

  .tree-star {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .christmas-tree {
    width: 150px;
    height: 210px;
  }

  .tree-layer-1 {
    border-left-width: 25px;
    border-right-width: 25px;
    border-bottom: 40px solid #1e5128;
  }

  .tree-layer-2 {
    top: 32px;
    border-left-width: 36px;
    border-right-width: 36px;
    border-bottom: 50px solid #2d6a3e;
  }

  .tree-layer-3 {
    top: 72px;
    border-left-width: 48px;
    border-right-width: 48px;
    border-bottom: 55px solid #3a7f4f;
  }

  .tree-layer-4 {
    top: 115px;
    border-left-width: 60px;
    border-right-width: 60px;
    border-bottom: 60px solid #4a9960;
  }

  .tree-trunk {
    width: 24px;
    height: 36px;
  }

  .tree-star {
    font-size: 2rem;
  }

  .ornament {
    width: 14px;
    height: 14px;
  }
}
